language: objective-c
osx_image: xcode8.1
rvm:
- 2.3.1
branches:
  except:
    - gh-pages
env:
  global:
    - GH_REPO_NAME: SUPER_SEPR
    - DOXYFILE: $TRAVIS_BUILD_DIR/Scripts/doxygen.config
    - PROJECT_FILE: $TRAVIS_BUILD_DIR/Game
    - GH_REPO_REF: github.com/Tim020/SUPER-SEPR.git
before_install:
- brew update
- brew install doxygen
- brew install git-lfs
- brew install nuget
- nuget install ReportUnit
- chmod +x ./Scripts/install.sh
- chmod +x ./Scripts/test.sh
- chmod +x ./Scripts/build.sh
- chmod +x ./Scripts/deploy.sh
- chmod +x ./Scripts/documentation.sh
install:
- ./Scripts/install.sh
before_script:
- git lfs pull
script:
- ./Scripts/test.sh --travis
- ./Scripts/build.sh --travis
after_success:
- ./Scripts/deploy.sh
- ./Scripts/documentation.sh
notifications:
  slack: seprated:O4cp3wNWtgdcpwDMjjLhHNy0