language: objective-c
osx_image: xcode8.1
rvm:
- 2.3.1
env:
  global:
    - GH_REPO_NAME: SUPER_SEPR
    - DOXYFILE: $TRAVIS_BUILD_DIR/Scripts/doxygen.config
    - GH_REPO_REF: github.com/Tim020/SUPER-SEPR.git
before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq [doxygen, doxygen-doc, doxygen-latex, doxygen-gui, graphviz]
- chmod +x ./Scripts/install.sh
- chmod +x ./Scripts/test.sh
- chmod +x ./Scripts/build.sh
- chmod +x ./Scripts/deploy.sh
- chmod +x ./Scripts/documentation.sh
install:
- ./Scripts/install.sh
script:
- ./Scripts/test.sh --travis
- ./Scripts/build.sh
after_success:
- ./Scripts/deploy.sh
- ./Scripts/documentation.sh
notifications:
  slack: seprated:O4cp3wNWtgdcpwDMjjLhHNy0