language: objective-c
osx_image: xcode61
rvm:
- 2.1.2
before_install:
 - chmod +x ./Scripts/install.sh
 - chmod +x ./Scripts/build.sh
install:
- ./Scripts/install.sh
script:
- ./Scripts/build.sh
after_success:
- ./Scripts/deploy.sh
deploy:
  skip_cleanup: true
notifications:
  slack: seprated:O4cp3wNWtgdcpwDMjjLhHNy0